<p class="cart-attribute__field uploader-debut">
  <input id="uploader" type="hidden" data-images-only='true' data-crop="free, 16:9, 4:3, 5:4, 1:1" role="uploadcare-uploader" name="properties[custom image]" value="{{ properties['custom image'] }}">
</p>
